@mixin layout( $flex ){
  display: $flex;
}

@mixin layout-flex( $num ){
  flex: $num;
}

@mixin line-overflow( $line ){
  display:-webkit-box;
  overflow:hidden;
  text-overflow:ellipsis;
  -webkit-line-clamp:$line;
  -webkit-box-orient:vertical;
}

@mixin layout-direction( $direction ){
  flex-direction: $direction;
}

@mixin layout-align( $align ){
  justify-content: $align;
}

@mixin layout-items( $items ){
  align-items: $items;
}

@mixin layout-wrap( $wrap ){
  flex-wrap: $wrap;
}

@mixin layout-column( $column ){
  flex: 0 0 $column;
}

@mixin layout-order( $num ){
  order : $num;
}

/*marginTop*/
@each $mt in 5,10,15,20,30 {
  .mt#{$mt} {
    margin-top: #{$mt}px!important;
  }
}
/*marginBottom*/
@each $mb in 5,10,15,20,30 {
  .mb#{$mb} {
    margin-bottom: #{$mb}px!important;
  }
}
/*marginRight*/
@each $mr in 5,10,15,20,30,40{
  .mr#{$mr} {
    margin-right: #{$mr}px!important;
  }
}
/*marginLeft*/
@each $ml in 5,10,15,20,25,30 {
  .ml#{$ml} {
    margin-left: #{$ml}px!important;
  }
}

.router-link-active > li{
  background: rgb(20, 39, 133) !important;
}
.el-scrollbar i{
  color:rgb(191, 203, 217);
}

.el-table__body tr:hover,.el-table__body-wrapper tr:hover{
  // background-color: #273EB0 !important;
  background-image: -webkit-linear-gradient(left,#537ffa,#5b40f7);
  color: #fff;
  cursor: pointer;
  i{
    color: #fff;
  }
}
// .el-table__row:hover{
//   background: red;
// }
.el-table--enable-row-transition .el-table__body td{
  transition:background-color 45s ease;
}
.el-table--medium td{
  padding:8px 0 !important;
}
.el-table td, .el-table th{
  padding:8px 0;
}
.el-button--primary{
  background: #273EB0 ;
  border-color: #273EB0;
}
.el-button--primary:hover{
  background: rgb(66, 90, 209) ;
  border-color: rgb(66, 90, 209);
}
.el-scrollbar__wrap
{
  overflow-x: hidden;
}