@import '~@/styles/base.scss';

.professor-page{
  .top-info{
    @include layout-align(center);
    .items{
      @include layout(flex);
      @include layout-items(center);
    }
    label{
      width: 110px;
    }
    .el-input__inner{
      border-radius: 0;
      height: 35px;
      line-height: 35px;
    }
    .to-button{

    }
    .el-button{
      padding: 0 10px;
      height: 35px;
      line-height: 35px;
      width: 70px;
      border-radius: 0;
    }
    .get-goal{
      .el-input__inner{
        color: red;
        font-size: 16px;
        width: 100px;
      }
    }
  }
  .el-input-number{
    width: 80px;
    &.is-controls-right {
      .el-input-number__decrease, .el-input-number__increase{
        width: 25px;
        border-radius: 0;
        line-height: 14px;
      }
      .el-input-number__decrease{
        bottom: 5px;
      }
      .el-input-number__increase{
        top: 5px;
      }
      .el-input__inner{
        text-align: left;
        padding: 0 25px 0 10px;
        border-radius: 0;
        height: 30px;
        line-height: 30px;
      }
    }
  }
  .table-list{
    th{
      color: #333;
    }
    td{
      padding: 0;
    }
    td:first-child .cell{
      padding: 7px 0 7px 10px;
    }
  }
  .score-item{
    color: red;
    font-size: 16px;
  }
}

.result-page{
  .table-list{
    td{
      padding: 5px 0;
    }
    td:first-child .cell{
      padding: 3px 0 3px 10px;
    }
  }
  .cient-item{
    color: #377ff5;
    font-size: 15px;
  }
}
