.baseInfo1-wrap{
    padding: 0 15px;
    position: relative;
    .block-item{
        background:#eee;
        padding:20px 20px 0 0;
        margin-bottom: 15px;
    }
    .tips{
        padding:20px;
        margin-left:50px;
        p{
            font-size: 14px;
            color: #999;
            line-height: 25px;
        }
    }
}
.baseInfo2-wrap{
    padding: 0 15px;
    position: relative;
    .section{
        h3{
            font-size: 16px;
            margin-top:20px;
            color: #666;
        }
        .data-table{
            width: 100%;
            border-left: 1px solid #ccc;
            border-bottom: solid 1px #ccc;
            font-size: 14px;
            .data-row{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                height: 45px;
                .data-item{
                    width: 100%;
                    border: 1px solid #ccc;
                    border-bottom: none;
                    border-left: none;
                    line-height: 45px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    .label{
                        border-right: 1px solid #ccc;
                        width: 110px;
                        text-align: center;
                        color: #333;
                        background: #eee;
                        min-width: 100px;
                    }
                    .value{
                        width: 100%;
                        padding: 0 10px;
                        text-align: center;
                        color: #666;
                    }
                    .noborIpt{
                        height:100%;
                        width:100%;
                        border: none;
                        outline:none;
                    }
                }
            }
        }
    }
}
// =========================================================
.baseInfo3-wrap{
    padding: 0 15px;
    h3{
        font-size: 16px;
        margin-top:20px;
        color: #666;
    }
    .item{
        line-height: 32px;
        font-size: 14px;
        margin-top: 15px;
        color:#666;
    }
    .section{
        padding: 15px;
        background: #eee;
        margin-bottom: 15px;
        min-width:750px;
    }
    .mt45{
        margin-top: 45px;
    }
    .el-form-item{
        margin-bottom: 0;
    }
}
.lpsql-wrap{
    padding: 0 15px;
    .mutiTable{
        margin-top: 25px;
        border: dashed 1px #ccc;
        padding:15px;
        .table-title{
            font-size: 14px;
            color: #666;
            line-height: 32px;
        }
        .dataintable{
            margin-top: 15px;
            border-collapse: collapse;
            border: 1px solid #ddd;
            width: 100%;
            .ipt32{
                margin-top: 10px;
            }
            .lh23{
                line-height: 23px;
            }
            .th{
                vertical-align: baseline;
                padding: 15px 10px;
                background-color: #eee;
                border-right: 1px solid #ddd;
                text-align: center;
                color: #666;
                border-bottom: solid 1px #ddd;
                font-size: 14px;
                font-weight: 700;
            }
            td{
                vertical-align: middle;
                padding: 10px;
                border: 1px solid #ddd;
                text-align: center;
                font-size: 14px;
            }
            .pointer{
                cursor: pointer;
            }
        }
    }
}
//=================================================
.main_eco_ben{
    padding: 0 15px;
    .dataTable{
        margin-top: 15px;
        border-collapse: collapse;
        border: 1px solid #ddd;
        width: 100%;
        th{
            vertical-align: baseline;
            padding: 12px 0;
            background-color: #eee;
            border-right: 1px solid #ddd;
            text-align: center;
            color: #666;
            border-bottom: solid 1px #ddd;
            font-size: 14px;
            font-weight: 700;
            &:first-child{
                width: 50px;
            }
            &:nth-child(3){
                width: 100px;
            }
        }
        td{
            vertical-align: middle;
            padding: 10px;
            border: 1px solid #ddd;
            text-align: left;
            font-size: 14px;
            &:first-child,&:nth-child(3){
               text-align: center;
            }
        }
        tr{
            padding:8px;
            td{
                padding: 8px;
            }
        }
    }
}


// ========================================================================
.main_market_en_ind{
    padding:0 15px;
    .dataTable{
        margin-top: 15px;
        border-collapse: collapse;
        border: 1px solid #ddd;
        width: 100%;
        td{
            vertical-align: middle;
            padding: 10px;
            border: 1px solid #ddd;
            text-align: left;
            font-size: 14px;
        }
        .center{
            text-align: center;
        }
        .gray{
            background: #eee;
        }
        .dateIpt{
            text-align: center;
            margin-right: 12px;
            padding:2px 4px;
            border: solid 1px #eee;
            width: 65px !important;
        }
        .w50{
            width: 50px;
        }
    }
}

// ==========================================================

.three_qacheck{
    padding: 0 15px;
    .dataTable{
        margin-top: 15px;
        border-collapse: collapse;
        border: 1px solid #ddd;
        width: 100%;
        th{
            vertical-align: baseline;
            padding: 12px;
            background-color: #eee;
            border-right: 1px solid #ddd;
            text-align: center;
            color: #666;
            border-bottom: solid 1px #ddd;
            font-size: 14px;
            font-weight: 700;
        }
        td{
            vertical-align: middle;
            padding: 10px;
            border: 1px solid #ddd;
            text-align: left;
            font-size: 14px;
        }
    }
}

//=========================================================================================
.three_qasafe{
    padding: 0 15px;
    .datatables{
        margin-top: 15px;
        border-collapse: collapse;
        border: 1px solid #ddd;
        width: 100%;
        th{
            vertical-align: baseline;
            padding: 12px;
            background-color: #eee;
            border-right: 1px solid #ddd;
            text-align: center;
            color: #666;
            border-bottom: solid 1px #ddd;
            font-size: 14px;
            font-weight: 700;
        }
        tr{
            td{
                vertical-align: middle;
                padding: 20px 10px;
                border: 1px solid #ddd;
                text-align: left;
                font-size: 14px;
            }
        }
    }
}

// ======================================================================

.major_common{
    padding:0 15px;
    .supply_table{
        margin-top: 15px;
        border-collapse: collapse;
        border: 1px solid #ddd;
        width: 100%;
        th{
            vertical-align: baseline;
            padding: 12px;
            background-color: #eee;
            border-right: 1px solid #ddd;
            text-align: center;
            color: #666;
            border-bottom: solid 1px #ddd;
            font-size: 14px;
            font-weight: 700;
        }
        td{
            vertical-align: middle;
            padding: 10px;
            border: 1px solid #ddd;
            text-align: left;
            font-size: 14px;
        }
    }
}




//===================================================
.single-editor{
    padding: 0 15px;
}
.submit-box{
    width: 57%;
    position: fixed;
    bottom: 26px;
    text-align: right;
    padding: 20px;
    background: #fff;
}













.noborIpt{
    height:100%;
    width:100%;
    border: none;
    outline:none;
}
.tips{
    margin-top: 30px;
    font-size: 14px;
    color: #666;
}
.center{text-align: center !important;}
.w60{width: 60px;}
.w80{width:90px;}
.pointer{
    cursor: pointer;
}
.red{
    color: rgb(245, 23, 23) !important;
}
.green{
    color: rgb(8, 112, 8) !important;
}
.fw700{
    font-weight: 700;
}
.time{
    font-size: 14px;
    color: #666;
    line-height: 32px;
}
.lh32{
    line-height: 32px;
}
.ml60{
    margin-left: 60px;
}
.mt15{
    margin-top: 15px;
}
.tips{
    padding:20px;
    margin-left:50px;
    p{
        font-size: 14px;
        color: #999;
        line-height: 25px;
    }
}